:host md-toolbar {
    height: 149px;
    position: fixed;
    background-image: url('/assets/ngKlingon__white.png');
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center top;
}

.mat-card {
    background: white;
    width: 70vw;
    margin: 0 auto;
    top: 100px;
    padding: 0;
}

@media (max-width: 600px) {
    .mat-card {
        width: 99vw;
    }
}

span.fill-remaining-space {
    flex: 1 1 auto;
}

snack-bar-container.error-container {
    background: red;
}