:host {
    display: block;
    padding: 30px 10px 0;
}

form {
    width: 100%;
}

md-input-container,
input {
    width: 100%;
}

md-input-container {
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

md-hint.fixe-height {
    top: 5px;
    position: relative;
}