:host {
    display: block;
}

:host section {
    padding: 20px;
}

:host mat-select {
    margin: 0 0 0 5px;
}

section p.button-container {
    text-align: right;
}

form {
    width: 100%;
}

mat-form-field,
input {
    width: 100%;
}

mat-form-field {
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}
